@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Inter Variable', sans-serif;*/
}

body {
  background: #f5f8fa;
}

.gjs-toolbar{
  background: red;
  transform-origin: right bottom;
  translate: 0px -10%;
  border-radius: 3px;

}