/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Inter Variable', sans-serif;*/
}

body {
    background: #f5f8fa;
}

.gjs-toolbar {
    translate: 0px -10%;
    border-radius: 3px;
}

/* Example CSS to center the frame within the canvas */
.frame-class { /* Replace with the actual class or ID of your frame */
    margin: 0 auto; /* Centers the frame horizontally */
    width: 80%; /* Adjust the width as needed */
    /* Add other styles as necessary */
}

.gjs-toolbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2px;
}


/**/

.gjs-toolbar-items > *:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Darkens the background slightly */
}
/*.gjs-toolbar-items > svg {*/
/*    width: 16px;*/
/*    height: 16px;*/
/*    color:black;*/
/*}*/

.gjs-rte-actionbar{
    translate: 0px -1%;
    background-color: #3A97E3;
    border-radius: 2px;
    color:white;
    border: none;
}

.gjs-badge{
    translate: 0px -10%;
    border-radius: 3px;
}


.gjs-rte-toolbar-ui{
    translate: 0px -10%;
 border: none;

}

.gjs-rte-action{
    border: none;
}