.root {
    padding: 0 ;

}


.control{
    padding:0 5px;
    height:40px;
    border-radius: 5px;
}

.item{
    padding:0 ;

}

.label{
    font-size: 0.7rem;
    font-weight: bold;
}

.panel{
    padding:4px 0;
}

.content{
    padding:0 ;

}